@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

:root {

  /* Colors */
  --White-Light: #FFF;
  --Grey-Darker: #151515;
    /* Font */
  --font-poppins: 'Poppins', sans-serif;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --primary-color: #1F1F1F;
  }
}

body {
  color: var(--Grey-Darker);
  background: var(--White-Light);
   font-family: var(--font-poppins);
}

